.sector-form{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
}
.sector-form-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sector-form-name{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sector-form-actions{
    margin-top: 10px;
    display: flex;
    
}
.sector-form-btn-save{
    margin-left: 20px;
}

@media (max-width: 576px){
    .sector-form-main{
        flex-direction: column;
    }
    .sector-form-password{
        flex-direction: column;
    }
    .sector-form-name{
        width: 100%;
    }
    .sector-form-actions{
        margin-top: 20px;
        justify-content: space-around;
    }
}