.formulation-card{
    display: flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;

}
.formulation-card-inf{
    width: 50%;
}
.formulation-card-action{
    display: flex;
    width: 50%;
    
}
.formulation-card-action-btn{
    border-radius: 10px;
    width: 45%;
}
.formulation-card-action-btn-edit{
    margin-right: 5px;
}
.formulation-card-btn-print{
    height: 38px;
    width: 38px;
    margin-right: 10px;
    cursor: pointer;
}
@media (max-width: 576px){
    .formulation-card{
        display: flex;
        flex-direction: column;
        padding: auto;
    }
    .formulation-card-action-btn{
        width: 100%;
    }
    .formulation-card-inf{
        width: 100%;
    }
    .formulation-card-action{
        width: 100%;
    }
}