.productionOrderItemCard-main{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
    
}
.productionOrderItemCard-inf{
    display: flex;
    flex-direction: row;
}
.productionOrderItemCard-inf-name{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-right: 1px solid #000;
    margin-left: 10px;
    text-align: left;
}
.productionOrderItemCard-inf-quantity{
    width: 10%;
    text-align: center;
    border-right: 1px solid #000;
}
.productionOrderItemCard-inf-type{
    width: 20%;
    text-align: center;
    border-right: 1px solid #000;
}
.productionOrderItemCard-actions{
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}
.ProductionOrderItemCard-btn-print{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
}
@media (max-width: 1200px){
    .productionOrderItemCard-inf{
        display: flex;
        flex-direction: column;
    }
    .productionOrderItemCard-inf-name{
        width: 100%;
        text-align: left;
        border-right: none;
        margin-left: 0px;
    }
    .productionOrderItemCard-inf-quantity{
        width: 100%;
        text-align: left;
        border-right: none;
    }
    .productionOrderItemCard-inf-type{
        width: 100%;
        text-align: left;
        border-right: none;
    }
    .productionOrderItemCard-actions{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}