.productionOrderDetailsInputs-main{
    display: flex;
    font-size: 15px;
}
.productionOrderDetailsInputs-product{
    width: 60%;
    
}
.productionOrderDetailsInputs-quantity{
    width: 20%;
    
}
.productionOrderDetailsInputs-cost{
    width: 20%;
    
}
.productionOrderDetailsInputs-total{
    width: 20%;
    
}