.modal-main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: visible;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

.producedModal-select-product{
    width: 100% !important;
}
.producedModal-row{
    display: flex;
    width: 100% !important;
}
.producedModal-quantity{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.producedModal-lote{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5px;
}


.producedModal-btn{
    margin-top: 15px;
}

.producedModal-btn-del{
    margin-left: 10px;
}
@media (max-width: 576px){
    .modal-main{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        top: 0;
        left: 0;
        transform: none;
        
        background: #fff;
        overflow: visible;
        border-radius: 4px;
        outline: none;
        padding: 10px;
      }
      
      .myoverlay {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.75);
        }
      
      .producedModal-select-product{
          width: 100% !important;
      }
      .producedModal-row{
          display: flex;
          width: 100% !important;
      }
      .producedModal-quantity{
          display: flex;
          flex-direction: column;
          width: 50%;
      }
      .producedModal-lote{
          display: flex;
          flex-direction: column;
          width: 50%;
          margin-left: 5px;
      }
      
      
      .producedModal-btn{
          margin-top: 15px;
      }
      
      .producedModal-btn-del{
          margin-left: 10px;
      }   
}