.laborPaymentForm-main{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
}
.laborPaymentForm-row{
    display: flex;
}

.laborPaymentForm-doc{
    display: flex;
    flex-direction: column; 
}
.laborPaymentForm-value{
    display: flex;
    flex-direction: column; 
    margin-left: 10px;
}
.laborPaymentForm-description{
    display: flex;
    width: 50%;
    flex-direction: column; 
}
.laborPaymentForm-textArea{
    border-radius: 10px;
}
.laborPaymentForm-select-employee{
    width: 40%;
}
.laborPaymentForm-select-type{
    margin-left: 10px;
    width: 40%;
}

.laborPaymentForm-actions{
    display: flex;
    width: 50%;
    margin-top: 20px;
}
.laborPaymentForm-actions-save{
    margin-left: 5px;
}
@media(max-width:1200px){
    .laborPaymentForm-date{
        width: 100%;
    }
    .laborPaymentForm-row{
        display: flex;
        flex-direction: column;
    }
    
    .laborPaymentForm-doc{
        width: 100%;
    }
    .laborPaymentForm-value{
        width: 100%;
        margin-left: 0px;
    }
    .laborPaymentForm-description{
        width: 100%;
    }
    .laborPaymentForm-textArea{
        border-radius: 10px;
    }
    .laborPaymentForm-select-employee{
        width: 100%;
    }
    .laborPaymentForm-select-type{
        margin-left: 0px;
        width: 100%;
    }
    
    .laborPaymentForm-actions{
        display: flex;
        width: 100%;
        justify-content: center !important; 
        
    }
        
}