.filters-container{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    
}
.input-search{
        display: flex;
        border: 1px solid #E1E1E1;
        align-items: center;
        flex: 1;
        input{
            border: none;
            &::placeholder{
                color: #9E9E9E;
        }
            &:focus{
                box-shadow: none;
        }
    }
}
.filters{
    display: flex;
}
.filters-select{
    border-radius: 10px;
}
.filters-lines-select{
    border-radius: 5px;
    height: 38px;
}

@media(max-width:576px){
    .filters-container{
            width: 100%;
            padding: 10px 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
    }
    .input-search{
        width: 100%;
    }
    .filters{
        width: 100%;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 10px;
    }
    .filters-select{
        width: 20%;
    }
    .filters-actions{
        width: 80%;
        margin-left: 5px;
    }
    .btn-filter-clean{
        width: 100%;
    }

}

