.unity-list-add-filter{
    display: flex;
    align-items: center;
}
.unity-list-input-filter{
    width: 100%;
    margin-left: 10px;

}

@media (max-width: 576px){
    .unity-list-add-filter{
        display: flex;
        width: 100% !important;
        flex-direction: column;
    }
    .unity-list-btn-add{
        width: 100%;
    }
}