.productionOrderDetails-main{
    display: flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 15px; 
    
}
.productionOrderDetails-id{
    width: 5%;
    
}
.productionOrderDetails-formulation{
    margin-left: 10px;
    width: 30%;
}
.productionOrderDetails-period{
    text-align: center;
    width: 15%;
}

.productionOrderDetails-produced{
    text-align: center;
    width: 10%;

}
.productionOrderDetails-directCost{
    margin-left: 10px;
    width: 10%;
}
.productionOrderDetails-indirectCost{
    margin-left: 10px;
    width: 10%;
}
.productionOrderDetails-averageCost{
    margin-left: 10px;
    width: 10%;
}
.productionOrderDetails-actions{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
@media(max-width:576px) {
    .productionOrderDetails-main{
        flex-direction: column;
    }
    .productionOrderDetails-id{
        width: 100%;
        
    }
    .productionOrderDetails-formulation{
        margin-left: 0px;
        width: 100%;
    }
    .productionOrderDetails-period{
        text-align: left;
        width: 100%;
    }
    
    .productionOrderDetails-produced{
        text-align: left;
        width: 100%;
    
    }
    .productionOrderDetails-directCost{
        margin-left: 0px;
        width: 100%;
    }
    .productionOrderDetails-indirectCost{
        margin-left: 0px;
        width: 100%;
    }
    .productionOrderDetails-averageCost{
        margin-left: 0px;
        width: 100%;
    }
    .productionOrderDetails-actions{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;   
    }
}