.home-main{
   margin: 10px;
}
.home-img{
   text-align: center;
}
.home-img-moinho{
   width: 600px;
   height: 500px;
}
@media (max-width: 768px){
   .home-img{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      margin-top: 30%;
   }
   .home-img-moinho{
      width: 400px;
      height: 300px;
   }
}