.login-main{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.login-inf{
   text-align: center;
   
}
.login-img{
     width: 600px;
     height: 500px;
}
.login-inf-title{
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #000000;
}
.login-auth{
   padding: 10px !important;
}
@media (max-width: 768px){
    .login-inf{
        display: none;
    }
   
}