.formulationModalEdit-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: visible;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }
  
  .formulationModalEdit-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.75);
}
.formulationItemEdit-row{
    display: flex;
    flex-direction: column;
}
.formulationModalEdit-quantity{
    display: flex;
    flex-direction: column;
}
.formulationModalEdit-select-item-yes{
    margin-right: 10px;
}
.formulationModalEdit-type{
    display: flex;
    flex-direction: column;
}
.formulationModalEdit-actions{
    margin-top: 20px;
    display: flex;
}
.formulationModalEdit-btn-save{
    margin-right: 10px;
}

@media (max-width: 576px){
    .formulationModalEdit-product{
        font-size: medium;
        color: #000;
    }
}